# Ignore everything
/*
/*/

# But not these files...
!*.vimrc
!*.bashrc
!*.zshrc
!.gitignore
!README.md

# Add cron scripts directory for github
!/cron_scripts/
cron_scripts/*
!cron_scripts/backup_git.sh

# Add my scripts directory for github
!/my_scripts/
my_scripts/*
!my_scripts/script_template.sh

# Ignore so we won't commit these in the allowed dirctories.
#.DS_Store
*.DS_Store
