# Ignore everything
*

# But not these files...
!*.vimrc
!*.vim
!*.bashrc
!*.zshrc
!.gitignore
!README.md

# Add .config directory for github

!.config
.config/*

!.config/hb
.config/hb/*
!.config/hb/config.yml
!.config/hb/hosts.yml

# Ignore so we won't commit these in the allowed dirctories.
#.DS_Store
